@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  background: aliceblue;
  font-family: FontAwesome, "Roboto", sans-serif;
}

header {
    padding: 60px;
  text-align: center;
  color: black;
  font-size: 30px;    
  font-family: FontAwesome, "Roboto", sans-serif;

}

input {
font-family: FontAwesome, "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
border-radius:10px;
}

button {
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: .1em;
    outline: 0;
    background: #17a589;
    width: 100%;
    border: 0;
  border-radius:30px;
    margin: 0px 0px 8px;
    padding: 15px;
    color: #FFFFFF;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transition: all 0.2s;
  }

  button:hover,.form button:focus {
    background: #148f77;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  button:active {
    transform: translateY(1px);
    box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
 h1 {
     text-align: center;
 }
